<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mt-mapapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A36935541DF352D4005F5C2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A36935681DF352D4005F5C2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A36935731DF352D4005F5C2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
